div {
    border: solid 0px #0e1b16;
    padding: 0px;
    background: antiquewhite;
    width: 100vw;
    margin: 0px auto;
    height: 100vh;
}

.clase1 {
    border: solid 0px #0e1b16;
    padding: 0px;
    background: antiquewhite;
    width: 100vw;
    margin: 0px auto;
    height: 100vh;
}